body {
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}
.container {
    text-align: center;
    max-width: 600px;
    padding: 15px;
}
.logo {
    margin-bottom: 20px;
}
.logo img {
    max-width: 150px;
}
h1 {
    font-weight: 500;
    font-size: 1.5rem;
}
p {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 20px;
}
.highlight {
    font-weight: 900;
}
.signup-box {
    background-color: #000;
    padding: 30px;
    border-radius: 5px;
}
.signup-box input[type="text"],

.signup-box input[type="email"] {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.signup-box input[type="email"].invalid {
  border-color: #e74c3c; /* red */
}

.signup-box button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 900;
    background-color: #4c63ff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.signup-box button:hover {
    background-color: #364fc7;
}

.signup-box button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-box button:disabled:hover {
  background-color: #ccc;
}
